{%extends "base.html"%}
{%block title%}About | Machica Dental Clinic{%endblock%}
{%block page_style%}<link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">{%endblock%}

{% block content%}
    
    <div class="container about">
        <div class="animated bottom d-flex flex-row column-gap-5 mt-5">
            <img width="800" height="450" src="https://images.pexels.com/photos/18078297/pexels-photo-18078297/free-photo-of-facade-of-ramen-bar.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="d-flex flex-column justify-content-between">
                <h6 class="fw-normal th-color-1">About us</h6>
                <h3 class="fw-bold th-color-1 w-100">WE ARE DENTAL PROFESSIONALS WITH HIGH QUALITY DENTAL SERVICES.</h3>
                <p class="fw-light ">Machica Dental Clinic dates back to May 5, 1995, when it was established at 48 A, Macabagdal,
                    Grace Park East, Manila, specifically in the area of 1403 Greater Manila. 
                    The key dental practitioner at the clinic is Dr. Natividad Abuda Machica,
                     who serves as the primary dental surgeon.
                </p>
                <div class="d-flex flex-row">
                    <div class="p-3 th-bg-2 d-flex flex-column justify-content-start align-items-center row-gap-4">
                        <div class="p-1 border rounded-circle border-2 border-white">
                            <img class="bg-white p-2 rounded-circle" width="70" height="70" src="https://img.icons8.com/ios-filled/100/0086DF/medical-doctor.png" alt="medical-doctor"/>
                        </div>    
                        <h5 class="text-white fw-normal text-center">Certified Professionals</h5>
                    </div>
                    <div class="p-3 th-bg-3 d-flex flex-column justify-content-start align-items-center row-gap-4">
                        <div class="p-1 border rounded-circle border-2 border-white">
                            <img class="bg-white p-2 rounded-circle" width="70" height="70" src="https://img.icons8.com/ios-filled/50/10A9E2/circuit.png" alt="medical-doctor"/>
                        </div>    
                        <h5 class="text-white fw-normal text-center">Mordern Technology</h5>
                    </div>
                    <div class="p-3 th-bg-4 d-flex flex-column justify-content-start align-items-center row-gap-4">
                        <div class="p-1 border rounded-circle border-2 border-white">
                            <img class="bg-white p-2 rounded-circle" width="70" height="70" src="https://img.icons8.com/ios-filled/50/32DEE0/task.png" alt="medical-doctor"/>
                        </div>    
                        <h5 class="text-white fw-normal text-center">Variety of Services</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="our-people animated bottom">
            <h1 class="mt-5 th-color-1 text-center">Meet Our People</h1>
            <div class="d-flex flex-row justify-content-center mt-5 column-gap-5">
                <div class="animated bottom card people" >
                    <img height="350" class="card-img-top" src="https://images.pexels.com/photos/14438787/pexels-photo-14438787.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    <div class="card-body">
                      <p class="card-title fw-bold">Dr. Natividad Abuda Machica.</p>  
                      <p><i>CEO, Founder</i></p>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus consequuntur, voluptates facilis aspernatur atque deleniti eum eos sed placeat veritatis?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_javascript %} <script src=""></script> {% endblock %}