<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/nav_logo.png')}}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_config.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
    {% block page_style %}{% endblock %}

</head>
<body>
    
    <div class="container-fluid admin-section">
        <div class="row ">
            <div class="col-2 p-0 border d-flex justify-content-center">                
                <div class="side-menu menu-layout menu-style d-flex flex-column justify-content-start aligh-items-center w-100">
                    <div class="admin-account">
                        <h5 class="admin-text">Admin Account</h5>
                        <h5 class="admin-text">adminAccount@email.com</h5>
                    </div>
                    <div class="menu-links">
                        <a href="{{url_for('views.dashboard')}}" class="text-decoration-none"><div class="navigation-container">
                            <svg class="svg-icon" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 640 512"><path d="M122.2 0C91.7 0 65.5 21.5 59.5 51.4L8.3 307.4C.4 347 30.6 384 71 384H288v64H224c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V384H569c40.4 0 70.7-36.9 62.8-76.6l-51.2-256C574.5 21.5 548.3 0 517.8 0H122.2zM260.9 64H379.1l10.4 104h-139L260.9 64zM202.3 168H101.4L122.2 64h90.4L202.3 168zM91.8 216H197.5L187.1 320H71L91.8 216zm153.9 0H394.3l10.4 104-169.4 0 10.4-104zm196.8 0H548.2L569 320h-116L442.5 216zm96-48H437.7L427.3 64h90.4l31.4-6.3L517.8 64l20.8 104z"/></svg>
                            <h5 id="dashboard" class="text-decoration-none side-texts">Dashboard</h5>
                        </div></a>
                        <a href="{{url_for('views.appointments')}}" class="text-decoration-none"><div class="navigation-container">
                            <svg class="svg-icon" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192h80v56H48V192zm0 104h80v64H48V296zm128 0h96v64H176V296zm144 0h80v64H320V296zm80-48H320V192h80v56zm0 160v40c0 8.8-7.2 16-16 16H320V408h80zm-128 0v56H176V408h96zm-144 0v56H64c-8.8 0-16-7.2-16-16V408h80zM272 248H176V192h96v56z"/></svg>
                            <h5 id="appointments" class=" text-decoration-none side-texts">Appointments</h5>
                        </div></a>
                        <a href="{{url_for('views.adminRecords')}}" class="text-decoration-none"><div class="navigation-container">
                            <svg class="svg-icon" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/></svg>
                            <h5 id="products" class=" text-decoration-none side-texts">Records </h5>
                        </div></a>
                        <a href="{{url_for('views.adminFeedback')}}" class="text-decoration-none"><div class="navigation-container">
                            <svg class="svg-icon" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M160 368c26.5 0 48 21.5 48 48v16l72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6H448c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16V352c0 8.8 7.2 16 16 16h96zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3V474.7v-6.4V468v-4V416H112 64c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0H448c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H309.3L208 492z"/></svg>
                            <h5 id="products" class=" text-decoration-none side-texts">Feedbacks </h5>
                        </div></a>
                       <div style="margin-top: 10rem;"class="navigation-container">
                            <svg class="svg-icon" viewBox="0 0 20 20" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;">
                                <path d="M18.271,9.212H3.615l4.184-4.184c0.306-0.306,0.306-0.801,0-1.107c-0.306-0.306-0.801-0.306-1.107,0
                                L1.21,9.403C1.194,9.417,1.174,9.421,1.158,9.437c-0.181,0.181-0.242,0.425-0.209,0.66c0.005,0.038,0.012,0.071,0.022,0.109
                                c0.028,0.098,0.075,0.188,0.142,0.271c0.021,0.026,0.021,0.061,0.045,0.085c0.015,0.016,0.034,0.02,0.05,0.033l5.484,5.483
                                c0.306,0.307,0.801,0.307,1.107,0c0.306-0.305,0.306-0.801,0-1.105l-4.184-4.185h14.656c0.436,0,0.788-0.353,0.788-0.788
                                S18.707,9.212,18.271,9.212z"></path>
                            </svg>
                            <h5 id="logout-admin" class="text-decoration-none side-texts">logout</h5>
                        </div>
                        
                </div>
            </div>
            </div>

            <nav class="navbar navbar-expand-lg p-3 sticky-top d-flex justify-content-center">
                <div class="container-fluid p-4">
                    <button class="navbar-toggler border border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="https://img.icons8.com/ios-glyphs/25/FFFFFF/menu--v1.png" alt="">
                    </button>
                    <div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
                        <div class="offcanvas-header th-bg-admin1">
                            <img width="110" height="50" src="{{url_for('static', filename='images/nav_logo.png')}}" alt="">
                            <img data-bs-dismiss="offcanvas" aria-label="Close" height="25" width="25" src="https://img.icons8.com/external-inkubators-basic-outline-inkubators/64/FFFFFF/external-close-button-it-and-computer-inkubators-basic-outline-inkubators.png" alt="">
                        </div>
                        <div class="offcanvas-body th-bg-admin1">
                            <div class="menu-links">
                                <a href="{{url_for('views.dashboard')}}" class="text-decoration-none"><div class="navigation-container">
                                    <svg class="svg-icon" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 640 512"><path d="M122.2 0C91.7 0 65.5 21.5 59.5 51.4L8.3 307.4C.4 347 30.6 384 71 384H288v64H224c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V384H569c40.4 0 70.7-36.9 62.8-76.6l-51.2-256C574.5 21.5 548.3 0 517.8 0H122.2zM260.9 64H379.1l10.4 104h-139L260.9 64zM202.3 168H101.4L122.2 64h90.4L202.3 168zM91.8 216H197.5L187.1 320H71L91.8 216zm153.9 0H394.3l10.4 104-169.4 0 10.4-104zm196.8 0H548.2L569 320h-116L442.5 216zm96-48H437.7L427.3 64h90.4l31.4-6.3L517.8 64l20.8 104z"/></svg>
                                    <h5 id="dashboard" class="text-decoration-none side-texts">Dashboard</h5>
                                </div></a>
                                <a href="{{url_for('views.appointments')}}" class="text-decoration-none"><div class="navigation-container">
                                    <svg class="svg-icon" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192h80v56H48V192zm0 104h80v64H48V296zm128 0h96v64H176V296zm144 0h80v64H320V296zm80-48H320V192h80v56zm0 160v40c0 8.8-7.2 16-16 16H320V408h80zm-128 0v56H176V408h96zm-144 0v56H64c-8.8 0-16-7.2-16-16V408h80zM272 248H176V192h96v56z"/></svg>
                                    <h5 id="appointments" class=" text-decoration-none side-texts">Appointments</h5>
                                </div></a>
                                <a href="{{url_for('views.adminRecords')}}" class="text-decoration-none"><div class="navigation-container">
                                    <svg class="svg-icon" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/></svg>
                                    <h5 id="products" class=" text-decoration-none side-texts">Records </h5>
                                </div></a>
                                <a href="{{url_for('views.adminFeedback')}}" class="text-decoration-none"><div class="navigation-container">
                                    <svg class="svg-icon" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M160 368c26.5 0 48 21.5 48 48v16l72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6H448c8.8 0 16-7.2 16-16V64c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16V352c0 8.8 7.2 16 16 16h96zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3V474.7v-6.4V468v-4V416H112 64c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0H448c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H309.3L208 492z"/></svg>
                                    <h5 id="products" class=" text-decoration-none side-texts">Feedbacks </h5>
                                </div></a>
                               <div style="margin-top: 10rem;"class="navigation-container">
                                    <svg class="svg-icon" viewBox="0 0 20 20" style="height: 1.5rem; width: 1.5rem; position: relative; z-index: 2;">
                                        <path d="M18.271,9.212H3.615l4.184-4.184c0.306-0.306,0.306-0.801,0-1.107c-0.306-0.306-0.801-0.306-1.107,0
                                        L1.21,9.403C1.194,9.417,1.174,9.421,1.158,9.437c-0.181,0.181-0.242,0.425-0.209,0.66c0.005,0.038,0.012,0.071,0.022,0.109
                                        c0.028,0.098,0.075,0.188,0.142,0.271c0.021,0.026,0.021,0.061,0.045,0.085c0.015,0.016,0.034,0.02,0.05,0.033l5.484,5.483
                                        c0.306,0.307,0.801,0.307,1.107,0c0.306-0.305,0.306-0.801,0-1.105l-4.184-4.185h14.656c0.436,0,0.788-0.353,0.788-0.788
                                        S18.707,9.212,18.271,9.212z"></path>
                                    </svg>
                                    <h5 id="logout-admin" class="text-decoration-none side-texts">logout</h5>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="col-10 p-3 admin-content py-5">
                {% block content %}{% endblock %}   
            </div>
        </div>
    </div>

    
  
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('static',filename='js/admin.js')}}"></script>
    {% block page_javascript %} {% endblock %}
</body>
</html>