{%extends "admin.html"%}
{%block title%}Dashboard | Machica Dental Clinic{%endblock%}
{%block page_style%}<link rel="stylesheet" href="{{url_for('static', filename='css/appointment.css')}}">{%endblock%}

{% block content%}
    <div class="container">
        <h1 class="fw-bold th-color-admin2">Appointments</h1>
        <hr>

        <div class="row mt-5">
            <h4 class="fw-medium th-color-admin2">Appointment List</h4>
            <hr>
            <div class="user-list-header d-flex flex-row column-gap-2">
                <input id="email" type="text" name="search-user" placeholder="Filter By User < Email > " class="dashboard-filters search-user form-control">
                <input type="text" id="date" placeholder="Filter By < Date >" onfocus="(this.type='date')" class="form-control dashboard-filters">  
                 <select id="isDone" class="form-select dashboard-filters">
                    <option value="" class="text-mute"> Filter By < Status > </option>
                    <option value="On Going"> On Going </option>
                    <option value="Done"> Done </option>
                 </select>     
                <button id="user-search-dashboard" class="btn btn-admin text-white">Search</button>
            </div>
            <div class="appointment-list d-flex flex-column row-gap-2 p-3">
                <table class="table table-bordered table-hover ">
                    <thead>
                        <tr class="text-white text-center">
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Date | Time</th>
                            <th>Service</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="appointment-list" class="appointment-table">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_javascript %} <script src="{{url_for('static',filename='js/appointment.js')}}"></script> {% endblock %}