{%extends "admin.html"%}
{%block title%}Dashboard | Machica Dental Clinic{%endblock%}
{%block page_style%}<link rel="stylesheet" href="{{url_for('static', filename='css/appointment.css')}}">{%endblock%}

{% block content%}
    <div class="container">
        <h1 class="fw-bold th-color-admin2">Appointments</h1>
        <hr>
        <div class="row d-flex flex-row justify-content-between">
            <div class="chart chart1 border rounded-3">
                <canvas id="Monthly-Bar" class="w-100"></canvas>
            </div>
            <div class="chart chart3 border rounded-3">
                <canvas id="monthly_revenue"></canvas>
            </div>
        </div>
        <div class="row mt-5">
            <h4 class="fw-medium th-color-admin2">Appointment List</h4>
            <hr>
            <div class="user-list-header d-flex flex-row column-gap-2">
                <input id="search-dashboard-input" type="text" name="search-user" placeholder="Search User <Email> " class="search-user form-control">
                <button id="user-search-dashboard" class="btn btn-admin text-white">Search</button>
            </div>
            <div class="appointment-list d-flex flex-column row-gap-2 p-3">
                <table class="table table-hover ">
                    <thead>
                        <tr class="table-success text-white">
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Service</th>
                            <th>Reservation Fee</th>
                        </tr>
                    </thead>
                    <tbody id="appointment-list" class="appointment-table">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_javascript %} <script src="{{url_for('static',filename='js/appointment.js')}}"></script> {% endblock %}