{%extends "base.html"%}
{%block title%}About | Machica Dental Clinic{%endblock%}
{%block page_style%}<link rel="stylesheet" href="{{url_for('static', filename='css/contactus.css')}}">{%endblock%}

{% block content%}
    
    <div class="container contact">
        <div class="row">
            <div class="col-12 animated bottom">
                <h3 class="fw-bold th-color-1 w-100 text-center">WE ARE DENTAL PROFESSIONALS WITH HIGH QUALITY DENTAL SERVICES.</h3>
                <p class="fw-light text-center">Machica Dental Clinic dates back to May 5, 1995, when it was established at 48 A, Macabagdal,
                    Grace Park East, Manila, specifically in the area of 1403 Greater Manila. 
                    The key dental practitioner at the clinic is Dr. Natividad Abuda Machica,
                     who serves as the primary dental surgeon.
                </p>
                <div class="d-flex flex-row column-gap-5 mt-5">
                    <iframe class="animated bottom" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.003514788319!2d120.98630951049955!3d14.655741875665552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b681f377ce0f%3A0xb18a290a0f5fd477!2sMachica%20Dental%20Clinic!5e0!3m2!1sen!2sph!4v1691685962425!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <div class="d-flex flex-column justify-content-between">
                        <h5 class="w-100 text-start th-color-2">Clinic Hours</h5>
                        <p class="">Mahica Dental Clinic Offers its services from Mondays to Sundays.</p>

                        <div class="d-flex flex-row column-gap-2 border p-3 rounded-3">
                            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/0086DF/overtime.png" alt="overtime"/>
                            <p><b>Mondays To Fridays</b>: <br> 8:00 am to 10:00 am - 1:30 pm to 7:30</p>
                        </div>

                        <div class="d-flex flex-row column-gap-2 border p-3 rounded-3 mt-2">
                            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/0086DF/saturday.png" alt="overtime"/>
                            <p><b>Saturday</b>: <br> 9:00 am to 7:00 pm</p>
                        </div>

                        <div class="d-flex flex-row column-gap-2 border p-3 rounded-3 mt-2">
                            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/0086DF/sunday.png" alt="overtime"/>
                            <p><b>Sunday</b>: <br> By Appointment</p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        <div class="row contactus-banner mt-5 animated bottom">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3 class="fw-bold th-color-1 w-100 text-white text-center">Feel Free To Reach Out To Us</h3>
                <p class="fw-light text-white w-75 text-center fs-5">We are always happy to hear from you! Please feel free to contact us with any questions, feedback, or concerns. You can reach us by phone at <b>0919-538-8143</b> , email at <b>natzddm@yahoo.com</b> or through our contact form. We are available Monday through Sunday from 9am to 7pm.
                </p>
                <h3 class="fw-bold th-color-1 w-100 text-white text-center">Or Get In Touch With Our Socials</h3>
                <div class="d-flex align-items-center column-gap-5">
                    <a href="https://www.facebook.com/pages/Dr-Natividad-Machica-Dental-Clinic/2072241209669822"><img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/facebook-new.png" alt="facebook-new"/></a>
                    <a href=""><img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/instagram-new--v1.png" alt="instagram-new--v1"/></a>
                    <a href=""><img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/twitterx.png" alt="twitter--v1"/></a>
                </div>
            </div>
        </div>
        <div class="row mt-5 animated bottom">
            <h1 class="mt-5 th-color-1 text-center">Frequently Ask Questions</h1>
            <div class="accordion mt-5" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How to reserve an appoinment? 
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Answer : </strong> 
                      To set an appoinment the patient must be a registered user of the website. 
                      In the service page, clicking a certain service will display the available date for an appoiment.
                      Be minded that reservations cannot be cancelled and cost one thousand pesos per reservation.
                      <a href="{{url_for('views.services')}}" class="text-decoration-none"><button class="mt-3 transition-delay-3s btn text-white th-bg-1 rounded-3 p-3 d-flex column-gap-2">
                        Book Appointment <i class="bi bi-arrow-right"></i>
                    </button></a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Does reservation only available every sunday?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Answer : </strong> 
                      Machica dental clinic only accepts reservation every sunday.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      What are the services available in Machica dental clinic?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>Answer : </strong> 
                      <br>
                      Machica dental services are the following:
                      <ul>
                        <li>Check Up</li>
                        <li>Tooth removal</li>
                        <li>Fillings</li>
                        <li>Root Canal</li>
                        <li>Braces</li>
                        <li>Dental implants</li>
                      </ul>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                        Does Machica dental clinic accepts walk in client?
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>Answer : </strong> 
                        Machica dental clinic do accept walk in client but only on weekdays and saturday.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

{% endblock %}

{% block page_javascript %} <script src=""></script> {% endblock %}