{%extends "admin.html"%}
{%block title%}Dashboard | Machica Dental Clinic{%endblock%}
{%block page_style%}<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">{%endblock%}

{% block content%}
    <div class="container">
        <h1 class="fw-bold th-color-admin2">DASHBOARD</h1>
        <hr>
        <div class="row">
            <div class="admin-banner d-flex flex-row rounded-3  justify-content-between ">
                <div class="d-flex flex-column justify-content-center mt-3">
                    <h4 class="text-white">Good day, Dr.Natividad Abuda Machica!</h4>
                    <h5 class="text-white fw-light">Have a nice Week!</h5>
                    <h5 class="today-date p-2 mt-3 rounded-3 text-white fw-light"><i class="bi bi-calendar-week-fill"></i> <span id="today-date">Sample Date</span></h5>
                </div>
                <img height="300" src="{{url_for('static', filename='images/banner-logo.png')}}" alt="">
            </div>
            <hr>
            <div class="d-flex flex-row justify-content-around mt-5 row-gap-5">
                <div class="chart chart1 border rounded-3">
                    <canvas id="Monthly-Bar" class="w-100"></canvas>
                </div>
                <div class="chart chart3 border rounded-3">
                    <canvas id="monthly_revenue"></canvas>
                </div>
            </div>
            <div class="mt-5">
                <h3>Sunday's Appointment</h3>
                <hr>
                <div class=" rounded-3">
                    <table class="table table-bordered table-hover ">
                        <thead>
                            <tr class="text-center">
                                <th class="text-white">Fullname</th>
                                <th class="text-white">Date | Time</th>
                                <th class="text-white">Service</th>
                                <th class="text-white">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="sched-today">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5 d-flex flex-column" id="exampleModalLabel">
                Follow Up Appoinment
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-flex flex-column row-gap-3" >
                    <input type="email" name="email" readonly class="update-info form-control">
                    
                    <select id="services" class="update-info form-select">
                        <option value=""> Select Service </option>
                        <option class="services" value=" Check Up">Check Up</option>
                        <option class="services" value=" Tooth removal">Tooth removal</option>
                        <option class="services" value=" Fillings">Fillings</option>
                        <option class="services" value=" Root Canal">Root Canal</option>
                        <option class="services" value=" Braces">Braces</option>
                        <option class="services" value=" Dental implants">Dental implants</option>
                     </select>  

                    <input type="date" name="date" class="update-info form-control">
                   
                    <select class="update-info form-select" name = "time" required>
                        <option value="">Select time</option>
                        <option class="time-booking text-dark" value="1:00pm-2:00pm">1:00pm-2:00pm</option>
                        <option class="time-booking text-dark" value="2:00pm-3:00pm">2:00pm-3:00pm</option>
                        <option class="time-booking text-dark" value="3:00pm-4:00pm">3:00pm-4:00pm</option>
                        <option class="time-booking text-dark" value="4:00pm-5:00pm">4:00pm-5:00pm</option>
                        <option class="time-booking text-dark" value="5:00pm-6:00pm">5:00pm-6:00pm</option>
                    </select>
                    <textarea name="message" class="update-info form-control" cols="30" rows="10"></textarea>
                </form>
            </div>
            <div class="modal-footer">
            <div role="button" id="appointment-update-btn" class="btn btn-admin text-white">Save changes</div>
            </div>
        </div>
        </div>
    </div>
    

{% endblock %}

{% block page_javascript %} <script src="{{url_for('static',filename='js/dashboard.js')}}"></script> {% endblock %}