{%extends "base.html"%}
{%block title%}Machica Dental Clinic{%endblock%}
{%block page_style%}<link rel="stylesheet" href="{{url_for('static', filename='css/landing.css')}}">{%endblock%}

{% block content%}
    <div class="hero-section container-fluid">
        <div class="container">
            <div class="slogan d-flex flex-column row-gap-2 ">
                <h1 class="animated left transition-delay-1s text-white fw-bold">Your <span class="th-color-4">smile</span> is our <span class="th-color-4">priority.</span></h1>
                <h4 class="animated left transition-delay-2s text-white fw-light w-50">Oral health is as important  as the rest of your body. Get check it now.</h4>
                <a href="{{url_for('views.services')}}" class="text-decoration-none"><button class="animated bottom transition-delay-3s btn text-white th-bg-1 rounded-3 p-3 d-flex column-gap-2">
                    Book Appointment <i class="bi bi-arrow-right"></i>
                </button></a>
            </div>
        </div>
    </div>


    <div class="about-section container-fluid ps-5">
        <div class="about-bg"></div>
        <div class="container">
            <div class="row ">
                <div class="expertise animated left  col-3 th-bg-4 rounded-3 d-flex flex-column justify-content-start row-gap-4">
                    <div class="p-1 border border-2 border-white">
                        <img class="bg-white p-2" width="70" height="70" src="https://img.icons8.com/ios-filled/100/32DEE0/medical-doctor.png" alt="medical-doctor"/>
                    </div>    
                    <h3 class="text-white fw-normal w-25 ms-2">Certified Professionals.</h3>
                </div>
                <div class="expertise animated left  col-3 th-bg-3 rounded-3 d-flex flex-column justify-content-start row-gap-4">
                    <div class="p-1 border border-2 border-white">
                        <img class="bg-white p-2" width="70" height="70" src="https://img.icons8.com/ios-filled/50/10A9E2/circuit.png" alt="medical-doctor"/>
                    </div>    
                    <h3 class="text-white fw-normal w-25 ms-2">Mordern Technology.</h3>
                </div>
                <div class="animated right col-6 p-2 d-flex flex-column justify-content-end">
                    <h1 class="th-color-2 ms-3 w-75 ">Here’s What We </h1>
                    <div class="d-flex column-gap-3">
                        <h1 class="th-color-2 ms-3 ">bring.</h1>
                        <a class="text-decoration-none" href="{{url_for('views.about')}}"><button class="btn text-white th-bg-1 rounded-3 d-flex column-gap-2">
                            Learn More <i class="bi bi-arrow-right"></i>
                        </button></a>
                    </div>
                </div>
            </div>
            <div class="row h-50 w-100">
                <div class="expertise animated left  col-3 th-bg-2 rounded-3 d-flex flex-column justify-content-start row-gap-4">
                    <div class="p-1 border border-2 border-white">
                        <img class="bg-white p-2" width="70" height="70" src="https://img.icons8.com/ios-filled/50/0086DF/task.png" alt="medical-doctor"/>
                    </div>    
                    <h3 class="text-white fw-normal w-75 ms-2">Variety of Services.</h3>
                </div>
                <div class="animated bottom about-img position-relative col-9 rounded-3 d-flex flex-column justify-content-end">
                    <h1 class="text-white w-75 px-3 fw-bold">Quality Services is What We Provide.</h1>
                    <p class="text-white w-100 px-3 fw-light fs-3 d-flex flex-row ">
                        Machica dental clinic provides not only quality services, but also an amazing experience.
                    </p>
                    <!-- <div class="expandable position-absolute bg-white"></div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="agenda-section container-fluid ">
        <div class="container d-flex flex-row justify-content-between pt-5">
            <div class="animated left vision d-flex flex-row column-gap-3 ">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/FFFFFF/customer-insight.png" alt="customer-insight"/>
                <span class="bg-white"></span>
                <div class="a-content">
                    <h1 class="text-white fw-bold">Organization's Experience.</h1>
                    <p class="text-white fw-lighter fs-5">
                        From routine check-ups to advanced treatments, our dental clinic 
                        provides a wide range of services. We have the expertise to meet 
                        your needs whether you are looking for preventive care, cosmetic 
                        enhancements, orthodontics, or restorative procedures.
                    </p>
                </div>
            </div>
    
            <div class="animated right  vision d-flex flex-row column-gap-3 ">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/FFFFFF/best-seller.png" alt="best-seller"/>
                <span class="bg-white"></span>
                <div class="a-content">
                    <h1 class="text-white fw-bold">Organization's Quality.</h1>
                    <p class="text-white fw-lighter fs-5">
                        We believe in enhancing your dental experience by utilizing cutting-edge technology.
                        Our clinic is outfitted with cutting-edge diagnostic and treatment tools, ensuring 
                        precise diagnoses, quick procedures, and minimal discomfort.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-section container">
        <div class="row animated left">
            <div class="service-caption col-12 p-2 d-flex flex-column justify-content-end w-75">
                <h1 class="th-color-2 ms-3 w-75 ">The Services We</h1>
                <div class="d-flex column-gap-3 ">
                    <h1 class="th-color-2 ms-3 ">Offer</h1>
                    <a href="{{url_for('views.services')}}" class="text-decoration-none"><button class="btn text-white th-bg-1 rounded-3 d-flex flex-row justify-content-center  column-gap-2">
                        Book Appointment <i class="bi bi-arrow-right"></i>
                    </button></a>
                </div>
            </div>
        </div>
        <div class="row animated right">
            <div class="service-list col-6 h-75">
                <div class="service  rounded-4 b-shadow d-flex flex-row align-items-end">
                    <h1 class="text-white w-100 px-3 fw-bold">Check Up</h1>

                </div>
                <div class="service rounded-4 b-shadow d-flex flex-row align-items-end">
                    <h1 class="text-white w-75 px-3 fw-bold">Braces</h1>

                </div>
                <div class="service rounded-4 b-shadow d-flex flex-row align-items-end">
                    <h1 class="text-white w-75 px-3 fw-bold">Tooth Removal</h1>
        
                </div>
                <div class="service rounded-4 b-shadow d-flex flex-row align-items-end">
                    <h1 class="text-white w-75 px-3 fw-bold">Fillings</h1>

                </div>
            </div>
            <div class=" model col-6 d-flex flex-row justify-content-center">
                <img width="500" height="800" src="{{url_for('static',filename='images/model_logo.png')}}" alt="">
            </div>
        </div>
    </div>

{% endblock %}

{% block page_javascript %} <script src="{{url_for('static',filename='js/landing.js')}}"></script> {% endblock %}