{%extends "base.html"%}
{%block title%}Machica Dental Clinic{%endblock%}
{%block page_style%}<link rel="stylesheet" href="{{url_for('static', filename='css/landing.css')}}">{%endblock%}

{% block content%}
    <div class="hero-section container-fluid">
        <div class="container">
            <div class="slogan d-flex flex-column row-gap-2">
                <h1 class="text-white fw-bold">Your <span class="th-color-4">smile</span> is our <span class="th-color-4">priority.</span></h1>
                <h4 class="text-white fw-light w-50">Oral health is as important  as the rest of your body. Get check it now.</h4>
                <button class="btn text-white th-bg-1 rounded-3 p-3 d-flex column-gap-2">
                    Book Appointment <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_javascript %}{% endblock %}