{%extends "base.html"%}
{%block title%}Machica Dental Clinic{%endblock%}
{%block page_style%}<link rel="stylesheet" href="{{url_for('static', filename='css/landing.css')}}">{%endblock%}

{% block content%}
    <div class="hero-section container-fluid">
        <div class="container">
            <div class="slogan d-flex flex-column row-gap-2 ">
                <h1 class="fade-left text-white fw-bold">Your <span class="th-color-4">smile</span> is our <span class="th-color-4">priority.</span></h1>
                <h4 class="fade-left text-white fw-light w-50">Oral health is as important  as the rest of your body. Get check it now.</h4>
                <button class="fade-bottom btn text-white th-bg-1 rounded-3 p-3 d-flex column-gap-2">
                    Book Appointment <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>


    <div class="about-section container-fluid ps-5">
        <div class="about-bg"></div>
        <div class="container">
            <div class="row">
                <div class="on-left expertise col-3 th-bg-4 rounded-3 d-flex flex-column justify-content-start row-gap-4">
                    <div class="p-1 border border-2 border-white">
                        <img class="bg-white p-2" width="70" height="70" src="https://img.icons8.com/ios-filled/100/32DEE0/medical-doctor.png" alt="medical-doctor"/>
                    </div>    
                    <h3 class="text-white fw-normal w-25 ms-2">Certified Professionals.</h3>
                </div>
                <div class="on-left expertise col-3 th-bg-3 rounded-3 d-flex flex-column justify-content-start row-gap-4">
                    <div class="p-1 border border-2 border-white">
                        <img class="bg-white p-2" width="70" height="70" src="https://img.icons8.com/ios-filled/50/10A9E2/circuit.png" alt="medical-doctor"/>
                    </div>    
                    <h3 class="text-white fw-normal w-25 ms-2">Mordern Technology.</h3>
                </div>
                <div class="on-right col-6 p-2 d-flex flex-column justify-content-end">
                    <h1 class="th-color-2 ms-3 w-75 ">Here’s What We </h1>
                    <div class="d-flex column-gap-3">
                        <h1 class="th-color-2 ms-3 ">bring.</h1>
                        <button class="btn text-white th-bg-1 rounded-3 d-flex column-gap-2">
                            Learn More <i class="bi bi-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="on-left expertise col-3 th-bg-2 rounded-3 d-flex flex-column justify-content-start row-gap-4">
                    <div class="p-1 border border-2 border-white">
                        <img class="bg-white p-2" width="70" height="70" src="https://img.icons8.com/ios-filled/50/0086DF/task.png" alt="medical-doctor"/>
                    </div>    
                    <h3 class="text-white fw-normal w-75 ms-2">Variety of Services.</h3>
                </div>
                <div class="on-bottom about-img position-relative col-9 rounded-3 d-flex flex-column justify-content-end">
                    <h1 class="text-white w-75 px-3 fw-bold">Quality Services is What We Provide.</h1>
                    <p class="text-white w-100 px-3 fw-light fs-3 d-flex flex-row ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        tempor incididunt ut labore et dolore magna aliqua 
                    </p>
                    <div class="expandable position-absolute bg-white"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="agenda-section container-fluid d-flex flex-row justify-content-around p-5">
        <div class="vision d-flex flex-row column-gap-3 ">
            <img width="50" height="50" src="https://img.icons8.com/material-sharp/96/FFFFFF/vision.png" alt="vision"/>
            <span class="bg-white"></span>
            <div class="a-content">
                <h1 class="text-white fw-bold">Organization's Vision.</h1>
                <p class="text-white fw-lighter fs-4">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Odit itaque animi magni eius enim eos a incidunt dignissimos
                    obcaecati ipsam sed, hic ipsa dolorem nobis! Sunt, ut esse
                    error nobis voluptates alias?
                </p>
            </div>
        </div>

        <div class="vision d-flex flex-row column-gap-3 ">
            <img width="50" height="50" src="https://img.icons8.com/ios-filled/100/FFFFFF/goal--v1.png" alt="vision"/>
            <span class="bg-white"></span>
            <div class="a-content">
                <h1 class="text-white fw-bold">Organization's Mission.</h1>
                <p class="text-white fw-lighter fs-4">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Odit itaque animi magni eius enim eos a incidunt dignissimos
                    obcaecati ipsam sed, hic ipsa dolorem nobis! Sunt, ut esse
                    error nobis voluptates alias?
                </p>
            </div>
        </div>
    </div>

    <div class="service-section container">
        <div class="row">
            <div class="service-caption col-12 p-2 d-flex flex-column justify-content-end w-75">
                <h1 class="th-color-2 ms-3 w-75 ">The Services We</h1>
                <div class="d-flex column-gap-3 ">
                    <h1 class="th-color-2 ms-3 ">Offer.</h1>
                    <button class="btn text-white th-bg-1 rounded-3 d-flex flex-row justify-content-center  column-gap-2">
                        Book Appointment <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="service-list col-6 h-75">
                <div class="service  rounded-4 b-shadow d-flex flex-row align-items-end">
                    <h1 class="text-white w-75 px-3 fw-bold">Service One</h1>
                    <div class="expandable bg-white"></div>
                </div>
                <div class="service rounded-4 b-shadow d-flex flex-row align-items-end">
                    <h1 class="text-white w-75 px-3 fw-bold">Service Two</h1>
                    <div class="expandable bg-white"></div>
                </div>
                <div class="service rounded-4 b-shadow d-flex flex-row align-items-end">
                    <h1 class="text-white w-75 px-3 fw-bold">Service Three</h1>
                    <div class="expandable three bg-white"></div>
                </div>
                <div class="service rounded-4 b-shadow d-flex flex-row align-items-end">
                    <h1 class="text-white w-75 px-3 fw-bold">Service four</h1>
                    <div class="expandable bg-white"></div>
                </div>
                
            </div>
            <div class="model col-6 d-flex flex-row justify-content-center">
                <img width="500" height="800" src="{{url_for('static',filename='images/model.png')}}" alt="">
            </div>
        </div>
    </div>


    <div class="footer-section container-fluid th-bg-dark p-4">
        <div class="container">
            <div class="row">
            <div class="col-6 d-flex flex-column row-gap-3">
                <img width="180" height="80" src="{{url_for('static', filename='images/nav_logo.png')}}" alt="">
                <h2 class=" fw-bold text-white">Subscribe To Our News Letter.</h2>
                <form class="d-flex flex-row column-gap-2">
                    <input type="email" name="email" id="email" class="email rounded-3 p-1" size="30px" placeholder="Enter Email">
                    <button class="btn text-white th-bg-1 rounded-3 d-flex flex-row justify-content-center  column-gap-2">
                        Send <i class="bi bi-arrow-right"></i>
                    </button>
                </form>
                <div class="footer-btn d-flex flex-row align-items-center">
                    <h3 class="text-white mt-1">Follow Us:</h3>
                    <div class="socmed-links d-flex align-items-center column-gap-4 ms-3">
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/ios/50/FFFFFF/facebook-new.png" alt="facebook-new"/></a>
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/ios/50/FFFFFF/instagram-new--v1.png" alt="instagram-new--v1"/></a>
                        <a href=""><img width="30" height="30" src="https://img.icons8.com/ios/50/FFFFFF/twitter--v1.png" alt="twitter--v1"/></a>
                    </div>
                </div>   
            </div>
            <div class="col-3 d-flex flex-column">
                <h3 class="text-white fw-medium text-center"><span class="th-color-1">Quick</span> Links</h3>
                <h5>
                    <a href="#" class="text-white fw-light text-decoration-none"><i class="bi bi-house"></i> Home</a>
                </h5>
                <h5>
                    <a href="#" class="text-white fw-light text-decoration-none"><i class="bi bi-building"></i> About us</a>
                </h5>
                <h5>
                    <a href="#" class="text-white fw-light text-decoration-none"><i class="bi bi-list-task"></i> Service</a>
                </h5>
                <h5>
                    <a href="#" class="text-white fw-light text-decoration-none"><i class="bi bi-info-circle"></i> Contact us</a>
                </h5>
            </div>
            <div class="col-3 d-flex flex-column">
                <h3 class="text-white fw-medium"><span class="th-color-1">Contact</span> Us</h3>
                <h5>
                    <a href="#" class="text-white fw-light text-decoration-none"><i class="bi bi-geo-alt"></i> Unit #1, G/F Aspiras Building, Consolacion Street</a>
                </h5>
                <h5>
                    <a href="#" class="text-white fw-light text-decoration-none"><i class="bi bi-telephone"></i> 0987-654-3211</a>
                </h5>
                <h5>
                    <a href="#" class="text-white fw-light text-decoration-none"><i class="bi bi-envelope"></i> Machica@Gmail.com</a>
                </h5>
            </div>
        </div>    
        </div>
    </div>
{% endblock %}

{% block page_javascript %} <script src="{{url_for('static',filename='js/landing.js')}}"></script> {% endblock %}