{%extends "profile.html"%}

{% block profile_content %}
<div class="container records user-appointment border rounded-3 bg-white py-3 w-75">
    <table class="table table-striped">
        <thead class="profile-table-head">
            <tr class="table-success text-white">
                <th>Date/Time</th>
                <th>Service</th>
                <th>Status</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody id="appointment-list">

        </tbody>
    </table>
</div>
{% endblock %}