{%extends "base.html"%}
{%block title%}Services | Machica Dental Clinic{% endblock %}
{%block page_style%}<link rel="stylesheet" href="{{url_for('static', filename='css/services.css')}}">{%endblock%}

{% block content%}
    <div class="service-banner container-fluid p-5 d-flex flex-column justify-content-center align-items-center">
       <h1 class="fw-medium text-white">High quality and wide range of services is what we offer.</h1>
       <h4 class="fw-light text-white w-50 text-center">In Mchica Dental Clinic our Customers and Patients is our Top priority That's why we make sure to give you the best and affordable services we offer. </h4>
    </div>


    <div class="service-box fade-bottom container w-75 mt-5">
        <div class="row d-flex flex-row justify-content-evenly">
            <div class="card p-0 w-25">
                <img height="180" src="https://images.pexels.com/photos/3845810/pexels-photo-3845810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title fw-bold">Check Up</h5>
                    <p class="card-text">inspects teeth, gums, and the entire oral cavity to identify 
                        potential concerns such as cavities, gum ailments, or oral cancer.</p>
                    <div>
                        <p><i class="bi bi-stopwatch-fill"></i> | 30-60 mins</p>
                        <p><i class="bi bi-wallet-fill"></i> | ₱1,500 - ₱3,000</p>
                    </div>
                    <button id="0" class="appointment-btn btn btn-primary">Book Appointment <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
            <div class="card p-0 w-25">
                <img height="180" src="https://images.pexels.com/photos/12148417/pexels-photo-12148417.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title fw-bold">Tooth Removal</h5>
                    <p class="card-text">Tooth or any other dental issue, we harness state-of-the-art 
                        techniques and advanced equipment to ease discomfort and expedite recovery.</p>
                    <div>
                        <p><i class="bi bi-stopwatch-fill"></i> | 30 - 60 mins</p>
                        <p><i class="bi bi-wallet-fill"></i> | ₱3,500 - ₱25,000</p>
                    </div>
                    <button id="1" class="appointment-btn btn btn-primary">Book Appointment <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
            <div class="card p-0 w-25">
                <img height="180" src="https://images.pexels.com/photos/3946836/pexels-photo-3946836.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title fw-bold">Fillings</h5>
                    <p class="card-text">Employing the most up-to-date methods and superior materials, we guarantee comfortable and successful 
                        procedures that harmonize perfectly with your original teeth.</p>                   
                    <div>
                        <p><i class="bi bi-stopwatch-fill"></i> | 30 - 60 mins</p>
                        <p><i class="bi bi-wallet-fill"></i> | ₱15,000 - ₱20,000</p>
                    </div>
                    <button id="2" class="appointment-btn btn btn-primary">Book Appointment <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="row d-flex flex-row justify-content-evenly mt-5">
            <div class="card p-0 w-25">
                <img height="180" src="https://images.pexels.com/photos/3779713/pexels-photo-3779713.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title fw-bold">Root Canal</h5>
                    <p class="card-text">Toothache or sensitivity, our careful technique guarantees 
                        infection removal while safeguarding your natural tooth.</p>
                    <div>
                        <p><i class="bi bi-stopwatch-fill"></i> | 30 - 60 mins</p>
                        <p><i class="bi bi-wallet-fill"></i> | ₱1,200 - ₱2,500</p>

                    </div>
                    <button id="3" class="appointment-btn btn btn-primary">Book Appointment <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
            <div class="card p-0 w-25">
                <img height="180" src="https://images.pexels.com/photos/7787980/pexels-photo-7787980.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title fw-bold">Braces</h5>
                    <p class="card-text">We will create a remarkable smile that complements your distinctive characteristics.
                         Bid farewell to teeth misalignment and embrace a fresh wave of self-assurance.</p>                       
                    <div>
                        <p><i class="bi bi-stopwatch-fill"></i> | 30 - 60 mins</p>
                        <p><i class="bi bi-wallet-fill"></i> | ₱10,000 - ₱50,000</p>
                    </div>
                    <button id="4" class="appointment-btn btn btn-primary">Book Appointment <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
            <div class="card p-0 w-25">
                <img height="180" src="https://images.pexels.com/photos/6627286/pexels-photo-6627286.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title fw-bold">Dental Implants</h5>
                    <p class="card-text">Cutting-edge methods and modern materials 
                        to achieve flawless implant procedures that replicate the natural look and sensation.</p>
                    <div>
                        <p><i class="bi bi-stopwatch-fill"></i> | 30 - 60 mins</p>
                        <p><i class="bi bi-wallet-fill"></i> | ₱10,000 - ₱100,000</p>
                    </div>
                    <button id="5" class="appointment-btn btn btn-primary">Book Appointment <i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        
    </div>      


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header d-flex flex-column align-items-center row-gap-3">
                <img width="110" height="50" src="{{url_for('static', filename='images/nav_logo.png')}}" alt="">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Machica Reservation terms and condition</h1>
            </div>
            <div class="modal-body">
                <h3 class="fw-bold th-color-1 w-100 text-center fs-5">WE ARE DENTAL PROFESSIONALS WITH HIGH QUALITY DENTAL SERVICES.</h3>
                <p class="fw-normal ">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque necessitatibus culpa maiores cupiditate deserunt consequuntur modi unde excepturi quo libero magni doloribus, alias expedita. Architecto earum quibusdam debitis recusandae deserunt.
                </p>
                <ul>
                    <li>The reservation fee is non-refundable</li>
                    <li>The reservation can be canceled for any reason, but the reservation fee will be forfeited.</li>
                    <li>The reservation is subject to availability.</li>
                    <li>There are no refunds for changes to the reservation, including changes to the dates.</li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      

    <div id="booking-warning" class="container hide-container w-75 px-5 mt-5">
        <div class="mx-1 w-50 alert alert-warning" role="alert">
            <i class="bi bi-info-square-fill"></i> <strong>Note:</strong> Reservation is only available every sunday.
        </div>
    </div>
    <div class="service-calendar hide-container rounded-3 p-3 container d-flex flex-row justify-content-center column-gap-3 mt-3 border">
                <div class="col-7 calendar p-3 rounded-3 m-0">
                    <div class="calendar-header d-flex flex-row justify-content-between">
                        <select class="month-picker fs-3 form-select" id="month-picker">
                             <option value="January">January</option> 
                             <option value="February">February</option> 
                             <option value="March">March</option> 
                             <option value="April">April</option> 
                             <option value="May">May</option> 
                             <option value="June">June</option> 
                             <option value="July">July</option> 
                             <option value="August">August</option> 
                             <option value="September">September</option> 
                             <option value="October">October</option> 
                             <option value="November">November</option> 
                             <option value="December">December</option> 
                        </select>
                        <div class="year-picker d-flex flex-row justify-content-between align-items-center w-25" id="year-picker">
                            <span class="year-change fs-3" role="button" id="pre-year">
                                <
                            </span>
                            <span class="fs-3" id="year">2020 </span>
                            <span class="year-change fs-3" role="button" id="next-year">
                                >
                            </span>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-row w-100 column-gap-2 mt-2">
                        <p class="rounded-3 p-2 fw-light text-white th-bg-2">AVAILABLE</p>
                        <p class="rounded-3 p-2 fw-light text-white th-bg-1">FULLSLOT</p>
                    </div>

                    <div class="calendar-body">
                        <div class="calendar-days d-flex flex-column row-gap-2 py-3">
                            
                        </div>
                    </div>

                </div>
                
                <div class="col-5  bg-white">

                    <h3 class="fw-normal text-secondary fs-4  mb-4 text-black text-center">Appointment form</h3>

                    <form method="post" action="" class="d-flex flex-column row-gap-3">
                
                            <input readonly type="text" class="inputs form-control" name="fullname" placeholder="First Name" required>
                            
                            
                            <input readonly type="tel" class="inputs form-control" name="phone" placeholder="Phone Number #" required>
                            
                            
                            <input readonly type="email" class="inputs form-control" name="email" placeholder="Email" required>
                            
                            
                            <input type="text" class="inputs form-control" name="date" placeholder="Date" readonly required>
    
                            
                            <select class="inputs form-select" name = "time" required>
                                <option value="">Select time</option>
                                <option class="time-booking text-dark" value="time 1">time 1</option>
                                <option class="time-booking text-dark" value="time 2">time 2</option>
                                <option class="time-booking text-dark" value="time 3">time 3</option>
                                <option class="time-booking text-dark" value="time 4">time 4</option>
                                <option class="time-booking text-dark" value="time 5">time 5</option>
                            </select>
        
        
                            <select disabled class="inputs form-select" name = "POA" required>
                                <option selected>Purpose Of Appointment</option>
                                <option class="services" value="Service 1 - Check Up">Service 1 - Check Up</option>
                                <option class="services" value="Service 2 - Tooth removal">Service 2 - Tooth removal</option>
                                <option class="services" value="Service 3 - Fillings">Service 3 - Fillings</option>
                                <option class="services" value="Service 4 - Root Canal">Service 4 - Root Canal</option>
                                <option class="services" value="Service 5 - Braces">Service 5 - Braces</option>
                                <option class="services" value="Service 6 - Dental implants">Service 6 - Dental implants</option>
                            </select>
                            
                            <input type="text" class="inputs form-control" name="fee" value="Reservation Fee: 1000" placeholder="Reservation Fee" readonly required>

                            <textarea class="inputs form-control" name="message" placeholder="Message"></textarea>
                            <div class="d-flex flex-row w-100 column-gap-2">
                                <button type="button" id="cancel-form" class="btn cancel-form btn-danger w-100">Cancel</button>
                                <button type="button" id="create-checkout" class="btn btn-primary w-100">Chekout</button>
                            </div>
           
                    </form>
                </div>
            </div>

{% endblock %}

{% block page_javascript %} <script src="{{url_for('static',filename='js/services.js')}}"></script> {% endblock %}