.chart{
    max-height: 400px;
    width: max-content;
}

.chart1,.chart3{
    width: 400px;
    height: 200px;
}

.chart2{
    width: 300px;
}

.appointment-list{
    overflow-y: auto!important;
    max-height: 500px;
}


thead tr th{
    background-color: var(--th-pal-admin1)!important;
    color: white!important;
}