.login-form{
    margin-top: 5rem!important;
}



.modal-content{
    width: 200%;
    margin-top: 7rem;
    margin-left: -15.5rem;
}

.img-fluid2{
    height:46.35rem;
    margin-top: 4rem;
}

.otp-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  
.mobile-text {
    color: #989696b8;
    font-size: 15px;
  }
  
.pin {
    margin-right: 12px;
    text-align: center;
    border: 2px solid lightgray;
  }
  
.pin:focus {
    color: #495057;
    background-color: #fff;
    border: 2px solid var(--th-pal-1);
    outline: 0;
    box-shadow: none;
  }
  
.cursor {
    cursor: pointer;
  }

.otp-content{
    width: 100%;
    margin-top: 7rem;
    margin-left: 0;
}

.text-error{
  color: rgb(255, 58, 58);
  position: absolute;
  top: 100%;
}

.hide{
  display: none!important;
}

.input-error{
  transition: var(--th-transition)!important;
  border: 2px solid rgb(255, 58, 58)!important;
}

.hide-error{
  display: none!important;
}