
/* navbar */
nav{
    background-color: var(--th-pal-dark);
}

.navbar .container-fluid{
    max-width: 1400px;
}

/* .navbar-nav{
    margin-left: 14.3rem;
}

.nav-item,.auth-link{
    margin-left: 3rem;
} */



.nav-item a{
    transition: var(--th-transition);
    border-bottom: 2px solid var(--th-pal-dark)
}

.auth-link a{
    padding: .5rem;
}


.auth-link a:nth-child(even){
    background-color: var(--th-pal-1);
    border-radius: 6px;

}

.nav-item a:hover{
    border-bottom: 2px solid white !important;
}

.link-active {
    border: 2px solid white!important;
    border-radius: 10px;
}



/* mahica chatbot */

.chatbot{
    height: 100vh;
    pointer-events: none;
}

.chatbot-panel{
    height: 70vh;
    margin-right: 3rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,035);
    pointer-events: all;
}

.chatbot button{
    width: auto!important;
    pointer-events: all;
    background-color: var(--th-pal-dark)!important;
}

.card-header{
    background-color: var(--th-pal-dark);
}

.card-body{
    overflow-y: auto!important;
}

.admin-img{
    margin-left: -15px;
}

.admins p{
    font-size: .7rem;
}

.admin-status{
    margin-top: -1rem;
}

.admins span{
    height: 10px;
    width: 10px;
    margin-top: 4px;
    border-radius: 50%;
    background-color: #00ff26;
}
.send-btn{
    cursor: pointer;
}

.user-message p{
    padding: .2rem .2rem;
}

.footer-section{
    margin-top: 10rem;
}

.footer-section h3{
    border-bottom: 2px solid white;
    width: fit-content;
    margin-top: 5rem;
}

.online-mode{
    display: none;
}

.guest-mode{
    display: flex;
}

.dropdown-item{
    padding-bottom: 0;
    margin: 0;
    cursor: pointer;
}