
.contact{
    margin-top: 5rem;
}

.contactus-banner{
    background-image: linear-gradient(-45deg, rgba(4, 45, 132, 0.749),#042d84ce), url(https://drive.google.com/uc?export=view&id=11sRpX-3-FpnN2VvlRffW-1Xv714LkdVa);
    background-size: cover;
    background-position: center;
    height: 400px!important;
}