.admin-banner{
    background: linear-gradient(-45deg, var(--th-pal-admin2), var(--th-pal-admin1));
    height: 15rem;
    overflow: hidden;
}

.today-date{
    background-color: rgba(161, 161, 161, 0.618);
    max-width: 250px;
}

.admin-banner img{
    margin-top: 0rem;
    height: 300px;
}

.sched-today{
    overflow-y: auto!important;
    max-height: 300px;
}

thead tr th{
    background-color: var(--th-pal-admin1)!important;
    color: white !important;
}

.followUp-btn{
    background-color: rgb(255, 188, 5);
}

.done-btn{
    background-color: rgb(28, 243, 139);
}

.record-list,.feedback-list{
    overflow-y: auto!important;
    max-height: 500px;
}


.chart{
    max-height: 400px;
    /* width: max-content; */
}

.chart1,.chart3{
    width: 500px;
    height: 250px;
}

.user-records{
    overflow: auto;
    max-height: 500px;
}


.information-cover{
    position: absolute;
    background: transparent;
    backdrop-filter: blur(8px);
    height: 80%;
    width: 100%;

}


.show-btn{
    width: 80px;
}

.view-btn,.show-btn{
    background-color: var(--th-pal-admin1)!important;
}

.hide-cover{
    display: none!important;
}

.modal-dialog{
    max-width: 700px!important;
} 

.invoice-body{
    width: 700px!important;
}

.invoice-table{
    width: 100%;
}

.invoice-table thead tr,
.invoice-table tbody tr{
    text-align: center;
}

th{
    border: 2px solid white;
}

@media (max-width: 500px) and (min-width: 320px){
        .charts{
            flex-direction: column!important;
        }

        .admin-banner img{
            height: 150px!important;
            margin-top: 3rem!important;
        }

        .admin-banner h4{
            font-size: 1.5rem!important;
        }

        .chart1,.chart3{
            width: 400px;
            height: 250px;
        }

        .invoice-body{
            width: 100%!important;
        }
        
        .dentist-info h6, .dentist-contact h6{
            font-size: .5rem;
        }
}

@media print {
    .modal{
        background-color: white;
    }

    #invoice-header,#invoice-footer{
        display: none;
    }

    .modal-dialog{
        max-width: 700px!important;
    } 
    
    .modal-body{
        padding: 1rem , 0;
    }

    .invoice-body{
        width: 700px!important;
    }
    
    .invoice-table{
        width: 100%;
    }
    
    .invoice-table thead tr,
    .invoice-table tbody tr{
        text-align: center;
    }

    .invoice-table thead tr th{
        background-color: var(--th-pal-admin1)!important;
    }
    
    th{
        border: 2px solid white;
    } 



}
