.admin-banner{
    background: linear-gradient(-45deg, var(--th-pal-admin2), var(--th-pal-admin1));
    height: 15rem;
    overflow: hidden;
}

.today-date{
    background-color: rgba(161, 161, 161, 0.618);
    max-width: 250px;
}

.admin-banner img{
    margin-top: 0rem;
}

.sched-today{
    overflow-y: auto!important;
    max-height: 300px;
}

thead tr th{
    background-color: var(--th-pal-admin1)!important;
}

.followUp-btn{
    background-color: rgb(255, 188, 5);
}

.done-btn{
    background-color: rgb(28, 243, 139);
}

.record-list,.feedback-list{
    overflow-y: auto!important;
    max-height: 500px;
}