.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://images.unsplash.com/photo-1598256989800-fe5f95da9787?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -7.5rem;
}

.slogan{
    padding-top: 14rem;
    padding-left: 3rem;
}

.slogan h1{
    font-size: 3rem!important;
}

.slogan button{
    width: 13.5rem;
}

.expertise{
    height: 14rem!important;
    width: 15rem!important;
    padding: 1rem 1rem;
    transition: var(--th-transition)
}

.expertise:hover{
    transform: scale(1.02);
}

.expertise div{
    border-radius: 50%;
    width: fit-content!important;
}

.expertise img{
    border-radius: 50%;
}

.about-section{
    position: relative;
    margin-top: 7rem;
}

.about-bg{
    background: linear-gradient(to bottom, rgba(20, 154, 203, 0.57), #E2FAFB)!important;
    position: absolute;
    width: 100%;
    height: 65vh;
    z-index: -1;
    left: 0rem;
    top: 10%;
}


.about-section .col-6 h1, .about-section .col-6 div h1{
    font-size: 3rem!important;
    font-weight: 800;
}

.about-section .col-6 div button{
    padding: .8rem 1rem!important;
    height: 3rem!important;
}

.about-img{
    background-image: linear-gradient(to bottom ,rgba(255, 255, 255, 0), #042d8499), url(https://images.pexels.com/photos/5355918/pexels-photo-5355918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.expandable{
    width: .3rem;
    height: 5px;
    transition: var(--th-transition)
}

.about-img:hover .expandable{
    width: 35rem;
}

.about-img .expandable {
    margin-bottom: 3%;
    margin-left: 25.5%;
}