.update-banner{
    background-image: linear-gradient(-45deg,#042d84ce, rgba(4, 45, 132, 0.75)), url(https://images.pexels.com/photos/4269492/pexels-photo-4269492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    height: 400px!important;
  }

.profile-content{
    margin-top: -15rem;
}

.profile-menu{
    height: max-content;
}

.user-icon{
    border: 5px solid var(--th-pal-2);
    border-radius: 10%;
}

.profile-btn{
    transition: var(--th-transition);
    color: black!important;
    text-align: start!important;
    width: 100%;
    padding: .5rem .5rem!important;
}

.profile-active{
    background-color: var(--th-pal-1)!important;
    color: white!important;
}


.profile-btn:hover{
    padding: .5rem .5rem!important;
    background-color: var(--th-pal-1)!important;
    color: white!important;
}

.hide-btn{
    display: none!important;
    pointer-events: none!important;
}

.records{
    overflow-y: auto;
    max-height: 500px;
}

.profile-table-head{
    background-color: var(--th-pal-1)!important;
}