

.service-calendar{
    width: 70%;
    overflow: hidden;
}

  .calendar {
    height: max-content;
    width: max-content;
    overflow: hidden;
  }

  .main-calendar{
    width: max-content;
  }

  .event-container{
    background: linear-gradient(130deg,#32DEE0,#10A9E2);
    height: 30rem;
  }

  .current-day span{
    font-size: 8rem;
  }

  .current-day span:nth-child(2){
    margin-top: -1rem;
    font-size: 2rem;
  }

  .calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    color:rgb(104, 104, 104);
  }
  .calendar-week-days div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 50px;
  }
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
  }

  .calendar-days div {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    transition: var(--th-transition);
  }
 
  .calendar-days div:hover {
    background-color: rgba(213, 213, 213, 0.537);
  }
 

  .current-day{
    background-color: var(--th-pal-3)!important;
    color: white!important;
    border-radius: 5px;
  }

  .selected-day{
    background-color: var(--th-pal-2)!important;
    color: white!important;
    border-radius: 5px;
  }

  .full-slot{
    background-color: var(--th-pal-1)!important;
    color: white!important;
    border-radius: 5px;
    pointer-events: none!important;
  }
