@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Righteous&family=Rubik:wght@700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --th-pal-1: #042C84;
    --th-pal-2: #0086DF;
    --th-pal-3: #10A9E2;
    --th-pal-4: #32DEE0;
    --th-pal-5: #80FCFC;
    --th-pal-dark: #001A28;
    --th-transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275)!important;
}

.th-color-1{ color: var(--th-pal-1); }
.th-color-2{ color: var(--th-pal-2); }
.th-color-3{ color: var(--th-pal-3); }
.th-color-4{ color: var(--th-pal-4); }
.th-color-5{ color: var(--th-pal-5); }
.th-color-dark{ color: var(--th-pal-dark); }

.th-bg-1{ background-color: var(--th-pal-1); background-color: var(--th-pal-1);}
.th-bg-2{ background-color: var(--th-pal-2); background-color: var(--th-pal-2);}
.th-bg-3{ background-color: var(--th-pal-3); background-color: var(--th-pal-3);}
.th-bg-4{ background-color: var(--th-pal-4); background-color: var(--th-pal-4);}
.th-bg-5{ background-color: var(--th-pal-5); background-color: var(--th-pal-5);}
.th-bg-dark{ background-color: var(--th-pal-dark); background-color: var(--th-pal-dark);}

.b-shadow { box-shadow: 0px .5rem 2px rgba(0, 0, 0, 0.395); }

.btn{ transition: var(--th-transition); background-color: var(--th-pal-1)!important; border: none;}

.btn:hover{
    background-color: var(--th-pal-1);
    transform: scale(0.98)!important; 
}

.fas{
    color: var(--th-pal-2);
}

.fade-bottom{ 
    animation: fade-bottom 1.2s both;
    -webkit-animation: fade-bottom 1.2s both;
    -o-animation: fade-bottom 1.2s both;
 }

.fade-left{ 
    animation: fade-left 1.2s both;
    -webkit-animation: fade-left 1.2s both;
    -o-animation: fade-left 1.2s both;
 }
 
.fade-right{ 
    animation: fade-right 1.2s both;
    -webkit-animation: fade-right 1.2s both;
    -o-animation: fade-right 1.2s both;
 }


@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@-webkit-keyframes fade-bottom{
    0% {
        -webkit-transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes fade-bottom{
    0% {
        -o-transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -o-transform: translateY(0);
        opacity: 1;
    }
}



/* ------- */


@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-left{
    0% {
        -webkit-transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@-o-keyframes fade-left{
    0% {
        -o-transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        -o-transform: translateX(0);
        opacity: 1;
    }
}



/* ----- */

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-right{
    0% {
        -webkit-transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@-o-keyframes fade-right{
    0% {
        -o-transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -o-transform: translateX(0);
        opacity: 1;
    }
}